<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header.html :: head('List of Teachers')">
</head>
<body>
<div th:replace="header.html :: navbar"></div>

<!--    Classes and IDs checked-->

<div class="col-md-offset-2 col" th:fragment="teacherslist">
    <h2>List of Teachers</h2>
    <form th:action="@{/teachers/create}" method="get">
        <div>
            <input class="btn-info btn-lg" type="submit" value="Add new Teacher">
        </div>
    </form>
    <br>
    <table class="table" th:if="${teachersDto!=null}">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Comment</th>
            <th scope="col">Disciplines</th>
            <th scope="col">Groups</th>
            <th scope="col">More Info</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacherDto : ${teachersDto}">
            <td th:text="${teacherDto.id}"/>
            <td th:if="${teacherDto.name}"
                th:text="${teacherDto.name}"/>
            <td th:text="${teacherDto.contact}"/>
            <td th:text="${teacherDto.commentWishes}"/>

<!--            <td>trying without disciplines</td>-->
            <td>
                <th:block th:if="${teacherDto.disciplines!=null && teacherDto.disciplines.size()>0}" th:each="disciplineDto : ${teacherDto.disciplines}">
                    <th:block th:text="${disciplineDto.id+' '+disciplineDto.name}"/>
                </th:block>
                <th:block th:if="${teacherDto.disciplines==null}">No Disciplines</th:block>
            </td>

            <td>Groups are heavy</td>
<!--            <td>-->
<!--                <th:block th:if="${teacher.groups!=null}" th:each="group : ${teacher.groups}">-->
<!--                    <th:block th:text="${group.groupNumber}"/>-->
<!--                    <th:block th:if="${group.alternativeName!=null}" th:text="${group.alternativeName}"/>,-->
<!--                </th:block>-->
<!--                <th:block th:if="${teacher.groups==null}">No Groups</th:block>-->
<!--            </td>-->

            <td>
                <a th:href="@{|/teachers/${teacherDto.id}/open|}">More information</a>
            </td>

            <td>
                <a th:href="@{|/teachers/${teacherDto.id}/edit|}">Edit </a>|
<!--                <a class="delete" th:href="@{|/teachers/${teacherDto.id}/delete|}"-->
<!--                   onclick="return confirm('Are you sure?');"> Delete</a>-->
            </td>
        </tr>
    </table>
</div>
<br><br><br><br><br><br>
<footer th:replace="header.html :: footer"></footer>
</body>
</html>